

header{
    width: 100%;
    height: 100px;
    background-color:#1A535C;
}
header nav{
    width: 100%;
    text-align: center;
}
header nav a{
    line-height: 100px;
}
header nav .naam{
    color: #F7FFF7;
    text-decoration: none;
    font-size: 4vw;
    text-align: center;
}
header nav .naam:hover{
    text-decoration: none;
    color: white;
}

header nav img {
  width: 150px;
  height: auto;
  float: left;
}
main .container-fluid{
    padding: 0;
}

main .container-fluid  div .hero{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

main .container-fluid .hero h1 {
  line-height: 100px;
  position: absolute;
  color: #F7FFF7;
  text-align: center;
  width: 100%;
  font-size: 3vw;
}

main .container-fluid .hero .download i {
  padding-right: 25px;
}

main .container-fluid .hero .row {
  width: 100%;
}

main .container-fluid .hero .download a{
    color: white;
    background: #DD5454;
    padding: 3vw 3vw;
    border-radius: 5px;
    text-decoration: none;
    font-size: 2vw;
    transition: background .3s ease-in-out;
    width: 30%;
    line-height: 400px;
    text-align: center;
    margin-left: 30%;
}

main .container-fluid .hero .download a:hover{
    background: #291010;
    transition: background .3s ease-in-out;
}

main .container .row h2 {
  text-align: center;
}

main .container .row h3 {
  text-align: center;
}
main .container .row div{
    text-align: center;
    padding-top: 10px;
}
main .container .row .icon{
    padding-bottom: 20px;
    padding-top: 25px;
}
main .container .row .icon i{
    font-size: 60px;
    color: #1A535C;
    padding-bottom: 25px;
}

main .container .row .social i {
  width: 50px;
  padding: 10px;
  font-size: 25px;
  color: #DD5454;
  margin: 5px;
  border-radius: 5px;;
}

main .container .row .social i:hover {
  background: #291010;
  transition: background .3s ease-in-out;
  cursor: pointer;
}

main .container .row h3{
  font-size: 25px;
  margin-bottom: 25px;
}

main .container .row h4{
  font-size: 25px;
  margin-bottom: 25px;
}
main .container .row h5{
  font-size: 25px;
  margin-bottom: 25px;
}


footer{
  height: 100px;
  width: 100%;
  background: #1A535C;
}
footer nav{
    text-align: center;
    line-height: 100px;
}
footer nav p{
    margin-bottom: 0;
    color: #F7FFF7;
}
